.wixwidgetheader {
  position: relative;
  height: 25px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid green;
}
.wixwidgetheader ul li { display: inline;}
.wixwidgetheader ul {
    margin: 0;
    padding: .2em 1em;
    list-style-type: none;
    text-align: center;
}
.iheart {
    float:left;
    padding: .2em 1em;
    text-align: justify;
    color:#ff0000;
    font-size:100%;
    font-family:'arial unicode MS', arial, geneva, sans-serif;
}
.itemid {
    padding: .2em 1em;
    text-align: justify;
    word-wrap:break-word;
}
.viewcount {
    float:right;
    padding: .2em 1em;
    text-align: justify;
    word-wrap:break-word;
}

