.wixwidgetfooter {
  position: relative;
  margin-top: 20%;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid green;
}
.wixwidgetfooter ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}
.wixwidgetfooter ul li { display: inline;}
.footerads {
    float:left;
    padding: .2em 1em;
    text-align: justify;
    word-wrap:break-word;
}
.footeraction {
    float:right;
    padding: .2em 1em;
    text-align: justify;
    word-wrap:break-word;
}

